@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

h1, h2, h3, h4 , h5 {
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 100px 100px 100px 200px 100px auto;
  grid-template-areas: 
    ". header header ."
    ". info info ."
    ". account account ."
    ". amount-header amount-header ."
    ". amount-1 amount-2 ."
    ". raise raise ."
    "footer footer footer footer";
}

.centered {
  place-self: center;
}

.header {
  grid-area: header;
  padding-left: 60px;
}

.account-details {
  grid-area: account;
}

.info {
  grid-area: info;
  font-size: 22px;
}

.instruction-header {
  grid-area: amount-header;
}

.select-amount-1 {
  grid-area: amount-1;
}

.select-amount-2 {
  grid-area: amount-2;
}

.raise-button {
  grid-area: raise;
}

button.button-label {
  font-size: 18px;
  color: white;
  background-color: #e65e0f;
}

button.selectAmount {
  width: 200px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

button.raiseCash {
  width: 400px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}


